img.small {
    width: 350px;
    animation: floatUpDown 2s ease-in-out infinite alternate; 
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px); /* Moves 20px upward */
  }
}

main {
    display:block;
    text-align: center;
}

p {
    font-weight: 500;
}

.cafe-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.cafe-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  border: 1px solid rgb(97, 87, 87);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 0px 21px 1px rgb(255, 228, 194);
}

.cafe-card:nth-child(even) {
  flex-direction: row-reverse;
}

.cafe-card img.cafe {
  width: 350px;
  height: auto;
  border: 1px solid rgb(201, 192, 190);
  border-radius: 8px;
}

.cafe-card-text {
  flex: 1;
}