<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <h2>Best Cafes in Washington</h2>
    <div class="cafe-list">

    <div class="card">
        <img src="/images/lartmap.png" alt="cafe 1">
        <div class="card-text">
        <h2>L'artisan Pastry</h2>
        <p>Co-founded in 2004 by Jacky Lichtenthaler and Kevin Thompson, L’Artisan Pastry in Everett is now proudly led by Kevin following Jacky’s 2022 retirement. Backed by three decades of elite French pastry expertise—from New York apprenticeships to Seattle’s Westin Hotel—Kevin brings classic traditions and modern innovation to every seasonal treat.</p>
        <a href="https://www.lartisanpastry.com/" class="btn">Check them out!</a>
        </div>
    </div>

    <div class="card">
        <img src="/images/saltmap.png" alt="cafe 2">
        <div class="card-text">
        <h2>Salt and Straw</h2>
        <p>Salt & Straw uses ice cream as a blank slate for storytelling. By collaborating with local artisans and pushing flavor boundaries with unexpected ingredients, they churn out unique, community-driven scoops designed to inspire and connect people.</p>
        <a href="https://saltandstraw.com/" class="btn">Check them out!</a>
        </div>
    </div>

    <div class="card">
        <img src="/images/haebingmap.png" alt="cafe 3">
        <div class="card-text">
        <h2>Haebing Dessert</h2>
        <p>Born out of years of cafe and dessert experience, Haebing Dessert was created to offer something truly unique that chain businesses can’t replicate. We are proud to bring high-quality ingredients, authentic Korean shaved ice, and a curated menu of specialty coffees and sweets to the Mill Creek community.</p>
        <a href="https://www.haebingdessert.com/" class="btn">Check them out!</a>
        </div>
    </div>

    <div class="card">
        <img src="/images/ourplacemap.png" alt="cafe 4">
        <div class="card-text">
        <h2>Our Place</h2>
        <p>Built on love, community, and the timeless question, "Have you eaten yet?", Our Place Dessert Cafe turns sweet treats into an experience. Drop by our Edmonds location for handcrafted desserts, a cozy work environment, and a space where every guest is treated like family.</p>
        <a href="https://www.ourplacedessertcafe.com/" class="btn">Check them out!</a>
        </div>
    </div>

    <div class="card">
        <img src="/images/yezimap.png" alt="cafe 5">
        <div class="card-text">
        <h2>Yezi</h2>
        <p>Driven by a mission to reduce waste, Yezi utilizes sustainable takeout packaging and reusable glass jars. Through their "Bring Back 10 Clean Jars, Get 1 Free Coconut Single" program, they reward customers for keeping glass out of landfills and encourage creative upcycling at home.</p>
        <a href="https://www.yezicoconut.com/" class="btn">Check them out!</a>
        </div>
    </div>

    </div>
<%- include('../partials/footer') %>