<%- include('../partials/header') %>
    <h1><%=title%></h1>   

    <div class="icecream-list">

    <div class="icecream-card">
        <div class="img-wrap">
            <img src="/images/bingsu.png" alt="bingsu">
        </div>
            <p>Bingsu</p>
            <p>A popular Korean shaved ice dessert. Unlike traditional coarse shaved ice, bingsu uses frozen milk or cream to create a fluffy, snow-like texture. It’s typically piled high with sweet toppings like red bean, chopped fruit, condensed milk, and rice cakes (tmeok).</p>
        </div>
    </div>

    <div class="icecream-card">
        <div class="img-wrap">
            <img src="/images/coconut.png" alt="yezi icecream">
        </div>
        <div class="card-text">
            <p>Yezi Coconut Dessert</p>
            <p>A refreshing, creamy Cantonese-style dessert. It features a rich, velvety coconut milk pudding or jelly base, often served chilled directly inside a whole coconut shell and paired with fresh fruit, sago, or herbal jelly.</p>
        </div>
    </div>

    <div class="icecream-card">
        <div class="img-wrap">
            <img src="/images/taiyaki.png" alt="taiyaki">
        </div>
        <div class="card-text">
            <p>Taiyaki</p>
            <p>A classic Japanese street food. It’s a fish-shaped waffle cake made from pancake-like batter, baked in a special mold until golden and crispy. While traditionally stuffed with sweet red bean paste, it’s now commonly filled with custard, chocolate, or even used as a cone to hold soft-serve ice cream.</p>
        </div>
    </div>

    <div class="icecream-card">
        <div class="img-wrap">
            <img src="/images/croissant.png" alt="croissant">
        </div>
        <div class="card-text">
            <p>Chocolate Croissant</p>
            <p>A French pastry staple made of laminated, buttery puff pastry dough wrapped around a core of dark chocolate bars. It’s baked until flaky and golden on the outside, with a warm, melty chocolate center.</p>
        </div>
    </div>

    <div class="icecream-card">
        <div class="img-wrap">
            <img src="/images/icecream.png" alt="ice cream">
        </div>
        <div class="card-text">
            <p>Ice Cream Cone</p>
            <p>The ultimate timeless classic. A simple scoop (or swirl) of dairy-based ice cream served atop a crunchy wafer, sugar, or waffle cone.</p>
        </div>
    </div>

    </div>
<%- include('../partials/footer') %>