<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <main>   
        <img src="/images/cake.png" class="small">
        <p>Feeling a little hungry?</p>
        <p>Learn all about the best places to eat dessert!</p>
    </main>
<%- include('../partials/footer') %>