<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <img src="/images/cake.png" class="small">
    <p>Learn all about the best places to eat dessert!</p>
<%- include('../partials/footer') %>